{{> navbar}}
<main>
  <div class="container">
    <div class="page-header">
      <h3>Snippet Query Results</h3>
    </div>
    <a href="/" class="btn btn-primary bg-blue bw-md">Back Home</a>
    <div id="userSnippets" class="mt4">
      <table class="table table-bordered bg-white">
        <thead>
          <tr>
            <th>Preview</th>
            <th>Snippet Title</th>
            <th>Language</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          {{#snippets}}
          <tr>
            <td><a href="/snippetQuery/?id={{_id}}">View</a></td>
            <td>{{title}}</td>
            <td>{{language}}</td>
            <td>{{tags}}</td>
          </tr>
          {{/snippets}}
        </tbody>
      </table>
    </div>
  </div>
</main>
